.box{
    padding: 20px;
    margin: 20px;
    float: left;
    border-top: 10px solid red;
    
}

.dashed{
    border: 3px dashed red;
    
}

.dotted{
    border: 3px dotted blue;
    
}

.double{
    border: 3px double green;
    
    }

.groove{
    border: 3px groove orange;
    
}

.inset{
    border: 3px inset black;
    
}

.outset{
    border: 3px outset grey;
    
}

.ridge{
    border: 3px ridge yellow;
    
}

.solid{
    border: 3px solid red;
    
}